* {
  box-sizing: border-box;
}

.containFor {
  min-width: 100%;
}
.row {
  width: 100%;
  height: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  background-color: black;
  color: white;
  text-align: center;
  line-height: 2em;
  font-family: "Source Sans Pro", sans-serif;
}

.col1 {
  width: 20%;
  height: 856px;
  background-color: whitesmoke;
  border-color: gray;
  border-radius: 2%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.searchText {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
}

input {
  width: 70%;
  height: auto;
  line-height: 1.5em;
}

.col2 {
  min-width: 78%;
  height: 856px;
  background-color: none;
  margin: auto;
  float: right;
}

.dashboard {
  background-color: whitesmoke;
  width: 100%;
  height: 50%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  line-height: 2.5em;
  padding: 20px;
  border-color: gray;
  border-radius: 2%;
}

.info {
  float: left;
}

.iconinfo {
  float: left;
}

.forecast {
  width: 100%;
  height: 50%;
}

#forecastHeader {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  line-height: 2.5em;
  margin-left: 15px;
}

.containFor {
  /* padding-left: 20px;
  padding-right: 40px; */
  flex-wrap: nowrap;
  justify-content: center;
  display: flex;
}
.box {
  background-color: whitesmoke;
  width: 17%;
  height: 300px;
  margin-left: 25px;
  float: left;
  border-color: gray;
  border-radius: 2%;
}

.dashIcon {
  width: 500px;
  height: auto;
}
